<header>
  <nav class="container">
    <div class="row">
      <div class="col-12">
        <div class="flex-wrapper">
          <ul>
            <li>
              <a routerLink="/home" title="Home">
                <img src="../../../assets/images/dcs-logo.svg" />
              </a>
          </ul>
          <ul *ngIf="isLoggedIn">
            <li>
              <a routerLink="/home" routerLinkActive="active">Home</a>
            </li>

            <li>
              <a routerLink="/not-existing-page" routerLinkActive="active">I do not exist</a>
            </li>

            <li>
              <span (click)="logout()">logout</span>
            </li>
          </ul>

          <ul *ngIf="!isLoggedIn">
            <li>
              <a (click)="login()">Login</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </nav>
</header>
